Mirror/XML/Eval/2008/Exercises/Height/book.dtd

<!ELEMENT book (author, chapter+)>
<!ATTLIST book title CDATA #REQUIRED>

<!ELEMENT author EMPTY>
<!ATTLIST author first NMTOKEN #REQUIRED
                 last  NMTOKEN #REQUIRED>

<!ELEMENT chapter (section*)>
<!ATTLIST chapter title CDATA #REQUIRED>

<!ELEMENT section (section*)>
<!ATTLIST section title CDATA #REQUIRED>
