Mirror/XML/Eval/2008/Exercises/TreeNum/num2.dtd

<!ELEMENT book (author, chapter+)>
<!ATTLIST book title CDATA #REQUIRED>

<!ELEMENT author (first,last)>
<!ELEMENT first  (#PCDATA)>
<!ELEMENT last   (#PCDATA)>

<!ELEMENT chapter (section*)>
<!ATTLIST chapter title CDATA #REQUIRED>

<!ELEMENT section (section*)>
<!ATTLIST section title CDATA #REQUIRED>
